<h2>{{spot.name}}</h2>
<h5>{{spot.description}}</h5>
< br/>
{{spot.address}}
{{spot.city}}
{{spot.state}}
{{spot.zip}}
{{spot.tag}}

<button class="btn btn-xs btn-fancy" >
{{#link-to 'new-photo'}}Add Your Photo{{/link-to}}
</button>

 <!-- {{action 'patch'}} -->
