<!-- <h2>{{spot.name}}</h2>
<h5>{{spot.description}}</h5>
< br/>
{{spot.address}}
{{spot.city}}
{{spot.state}}
{{spot.zip}}
{{spot.tag}} -->

 <img src={{upload.image_url}}>

{{#if (await isEditable)}}
 <button class="btn btn-s btn-fancy delete-button" {{action 'delete'}}><i class="fa fa-trash" aria-hidden="true"></i>
 </button>
{{/if}}
