<!-- <h2>{{spot.name}}</h2>
<h5>{{spot.description}}</h5>
< br/>
{{spot.address}}
{{spot.city}}
{{spot.state}}
{{spot.zip}}
{{spot.tag}} -->


 <img src={{upload.image_url}}>
 <button class="btn btn-xs btn-fancy" {{action 'delete'}}>
   Delete
 </button>
