<!-- {{spots-gallery/single-spot spot=model }} -->

<article class="spot-info">
<h2 class="spot-name">{{model.name}}</h2>
<div class="spot-address"> <span><i class="fa fa-map-marker" aria-hidden="true"></i></span>{{model.address}}
{{model.city}}
{{model.state}}
{{model.zip}}
</div>
<h5 class="spot-desc">{{model.description}}</h5>
</article>

<!-- {{spot.tag}}  -->
< br/>< br/>


  <!-- <img src={{upload.image_url}}> -->

<!-- {{#each model.uploads as |upload|}}

  <img src={{upload.image_url}}><button class="btn btn-xs btn-fancy" {{action 'delete' upload}}>
    Delete
  </button>
{{/each}} -->

{{spots-gallery spot=model}}

<ul>
{{#each model.uploads as |upload|}}
  {{spots-gallery/single-spot upload=upload delete='deleteUpload'}}
{{/each}}
</ul>
